<h1>Hello From Bio#Edit</h1>

<%= form_for :bio, :url => { :action => "update" } do |f| %>
  <%= f.label 'first_name' %>
  <%= f.text_field 'first_name' %>
  <%= f.label 'last_name' %>
  <%= f.text_field 'last_name' %>
  <%= f.submit %>
<% end %>

