<h1>Hello From Bio#Edit</h1>

<%= form_for :bio, :url => { :action => "update" } do |f| %>
  <%= f.label 'first_name' %>
  <%= f.text_field 'first_name' %>
  <%= f.label 'last_name' %>
  <%= f.text_field 'last_name' %>
  <br>
  <%= f.label 'phone_number' %>
  <%= f.text_field 'phone_number' %>
  <%= f.label 'school' %>
  <%= f.text_field 'school' %>
  <br>
  <%= f.label 'occupation' %>
  <%= f.text_field 'occupation' %>
  <br>
  <%= f.label 'resume_url' %>
  <%= f.text_field 'resume_url' %> 
  <br>
  <%= f.label 'about_me' %>
  <%= f.text_area 'about_me' %>
  <%= f.submit %>
<% end %>

